<%- include('../partials/head') %>
<%- include('../partials/main') %>

<div class="column" id="content" style="width: 80%;">
    <div class="ui grid">
            <div class="row">
                <h1 class="ui huge header" style="padding: 10px;">Latest approved</h1>
            </div>
            <div class="ui divider"></div>
            <div class="four column center aligned row">
                    <div class="column">
                            <img class="ui centered small image" src="/img/square-image.png" />
                            <div class="ui hidden divider"></div>
                            <p>
                              Cum Craving Teen Alex
                            </p>
                            <div class="ui small green label">Teen</div>
                            <div class="ui small green label">Anal</div>
                            <div class="ui small green label">Blowjob</div>
                            <div class="ui hidden divider"></div>
                            <div class="ui small blue label">Teen</div>
                    </div>
                    <div class="column">
                            <img class="ui centered small image" src="/img/square-image.png" />
                            <div class="ui hidden divider"></div>
                            <p>
                              Cum Craving Teen Alex
                            </p>
                            <div class="ui small green label">Teen</div>
                            <div class="ui small green label">Anal</div>
                            <div class="ui small green label">Blowjob</div>
                            <div class="ui hidden divider"></div>
                            <div class="ui small blue label">Teen</div>
                    </div>
                    <div class="column">
                            <img class="ui centered small image" src="/img/square-image.png" />
                            <div class="ui hidden divider"></div>
                            <p>
                              Cum Craving Teen Alex
                            </p>
                            <div class="ui small green label">Teen</div>
                            <div class="ui small green label">Anal</div>
                            <div class="ui small green label">Blowjob</div>
                            <div class="ui hidden divider"></div>
                            <div class="ui small blue label">Teen</div>
                    </div>
                    <div class="column">
                            <img class="ui centered small image" src="/img/square-image.png" />
                            <div class="ui hidden divider"></div>
                            <p>
                              Cum Craving Teen Alex
                            </p>
                            <div class="ui small green label">Teen</div>
                            <div class="ui small green label">Anal</div>
                            <div class="ui small green label">Blowjob</div>
                            <div class="ui hidden divider"></div>
                            <div class="ui small blue label">Teen</div>
                    </div>    
            </div>
            <div class="ui divider"></div>
            <div class="row">
                <h1 class="ui huge header">Statistics:</h1>
        </div>
                <table class="ui celled table">
                        <thead>
                                <tr>
                                        <th>URL</th>
                                        <th>Title</th>
                                </tr>
                        </thead>
                        <tbody>
                                <% rows.forEach(item => { %>
                                <tr>
                                        <td><%= item.url %></td>
                                        <td><%= item.title %></td>
                                </tr>
                                <% }) %>
                        </tbody>
                </table>
 
<%- include('../partials/endmain') %>
<%- include('../partials/endhtml') %>